<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-medkit"></span> Patients Overview</h1>
  </div>
  <% include ../partials/header %>

  <main>

<% if (typeof user != 'undefined' && user.Role_RoleID === '1') { %>
    <div class="alert alert-danger" role="alert">
      You are not allowed to see this page.
    </div>
    <% if (user.Role_RoleID) { %>
    <div class="alert alert-info" role="alert">
       Take a look at some awesome videos at the
      <a class="alert-link" href="/video-list">video list</a> page.
    </div>
    <% } %>
<% } else { %>

  <div class="row">
    <div class="col-md-3 col-sm-4">
      <h3>Patients</h3>
      <% if (patientDataArr[0] && typeof patientDataArr[0] !== undefined) { %>
      <ul class="list-unstyled list-striped">
          <% for(var uID in patientDataArr[0].User.userID) { %>
            <% if (patientDataArr[0].User.userID[uID].Role_IDrole[0] === '1') { %>
              <li>
                <p><b>Username:</b> <%= patientDataArr[0].User.userID[uID].username[0] %></p>
                <p><b>Email:</b> <%= patientDataArr[0].User.userID[uID].email[0] %></p>
                <p><b>Organization:</b> <%= patientDataArr[0].User.userID[uID].Organization[0] %></p>
              </li>
            <% } %>
          <% } %>
      </ul>
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          Data could not be retrieved. Please refresh the page.
        </div>
      <% } %>
      <hr>

      <h3>Therapy</h3>
      <% if (patientDataArr[0] && typeof patientDataArr[0] !== undefined
          && patientDataArr[1] && typeof patientDataArr[1] !== undefined
          && patientDataArr[2] && typeof patientDataArr[2] !== undefined
          && patientDataArr[6] && typeof patientDataArr[6] !== undefined) { %>
      <ul class="list-unstyled list-striped">
        <% for(var tID in patientDataArr[1].Therapy.therapyID) { %>
          <li>
            <% var therapyListID = patientDataArr[1].Therapy.therapyID[tID].TherapyList_IDtherapylist[0] %>
            <% var medicationID = patientDataArr[1].Therapy.therapyID[tID].User_IDmed[0] %>
            <% var patientID = patientDataArr[1].Therapy.therapyID[tID].User_IDpatient[0] %>

            <p><b>Therapy List:</b> <%= patientDataArr[2].Therapy_List.therapy_listID[therapyListID-1].name[0] %></p>
            <p><b>Medication:</b> <%= patientDataArr[6].Medicine.medicineID[medicationID-1].name[0] %></p>
            <p><b>Patient:</b> <%= patientDataArr[0].User.userID[patientID-1].username[0] %></p>
          </li>
        <% } %>
      </ul>
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          Data could not be retrieved. Please refresh the page.
        </div>
      <% } %>
      <hr>

      <h3>Therapy List</h3>
      <% if (patientDataArr[2] && typeof patientDataArr[2] !== undefined) { %>
      <ul class="list-unstyled list-striped">
        <% for(var tlID in patientDataArr[2].Therapy_List.therapy_listID) { %>
          <li>
            <p><b>Name:</b> <%= patientDataArr[2].Therapy_List.therapy_listID[tlID].name[0] %></p>
            <p><b>Dosage:</b> <%= patientDataArr[2].Therapy_List.therapy_listID[tlID].Dosage[0] %></p>
          </li>
        <% } %>
      </ul>
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          Data could not be retrieved. Please refresh the page.
        </div>
        <% } %>
      <hr>

      <h3>Tests</h3>
      <% if (patientDataArr[3] && typeof patientDataArr[3] !== undefined) { %>
      <ul class="list-unstyled list-striped">
        <% for(var tID in patientDataArr[3].Test.testID) { %>
          <li>
            <p><b>Used Therapy:</b> <%= patientDataArr[3].Test.testID[tID].Therapy_IDtherapy[0] %></p>
            <p><b>Date:</b> <%= patientDataArr[3].Test.testID[tID].dateTime[0] %></p>
          </li>
        <% } %>
      </ul>
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          Data could not be retrieved. Please refresh the page.
        </div>
        <% } %>
      <hr>

      <h3>Test Sessions</h3>
      <% if (patientDataArr[4] && typeof patientDataArr[4] !== undefined) { %>
      <ul class="list-unstyled list-striped">
        <% for(var tsID in patientDataArr[4].Test_Session.test_SessionID) { %>
          <li <% if (tsID === '0') { %> class="active" <% } %> >
            <p><b>Data URL:</b> <%= patientDataArr[4].Test_Session.test_SessionID[tsID].DataURL[0] %></p>
            <p><b>Test:</b> <%= patientDataArr[4].Test_Session.test_SessionID[tsID].Test_IDtest[0] %></p>
            <p><b>type:</b> <%= patientDataArr[4].Test_Session.test_SessionID[tsID].type[0] %></p>
          </li>
        <% } %>
      </ul>
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          Data could not be retrieved. Please refresh the page.
        </div>
        <% } %>
      <hr>

      <h3>Medicine</h3>
      <% if (patientDataArr[6] && typeof patientDataArr[6] !== undefined) { %>
      <ul class="list-unstyled list-striped">
        <% for(var mID in patientDataArr[6].Medicine.medicineID) { %>
          <li>
            <p><b>Name:</b> <%= patientDataArr[6].Medicine.medicineID[mID].name[0] %></p>
          </li>
        <% } %>
      </ul>
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          Data could not be retrieved. Please refresh the page.
        </div>
        <% } %>
      <hr>

    </div>
    <div class="col-md-9 col-sm-8">

      <h3>Test Session Data Analysis</h3>
      <div class="wrapper">
        <div id="chart_div"></div>
      </div>

      <h3>Notes</h3>
      <% if (patientDataArr[6] && typeof patientDataArr[6] !== undefined
          && patientDataArr[5] && typeof patientDataArr[5] !== undefined) { %>
      <ul class="list-unstyled list-striped">
        <% for(var nID in patientDataArr[5].Note.noteID) { %>
          <li>
            <p><b>Test Session:</b> <%= patientDataArr[5].Note.noteID[nID].Test_Session_IDtest_session[0] %></p>
            <% var medId = patientDataArr[5].Note.noteID[nID].User_IDmed[0] %>
            <p><b>Medication:</b> <%= patientDataArr[6].Medicine.medicineID[medId-1].name[0] %></p>
            <p><b>Note:</b> <%= patientDataArr[5].Note.noteID[nID].note[0] %></p>
          </li>
          <% } %>
      </ul>
      <% } else { %>
        <div class="alert alert-warning" role="alert">
          Data could not be retrieved. Please refresh the page.
        </div>
      <% } %>

      <h3>Test Session Data</h3>
      <table class="table table-striped table-hover">
        <% for(var i = 0; i < csvData.length; i++) { %>
          <% if(i === 0) { %>
          <thead>
            <tr>
              <th><%= csvData[i][0] %></th>
              <th><%= csvData[i][1] %></th>
              <th><%= csvData[i][2] %></th>
            </tr>
          </thead>
          <tbody>
          <% } %>
          <tr>
            <td><%= csvData[i][0] %></td>
            <td><%= csvData[i][1] %></td>
            <td><%= csvData[i][2] %></td>
          </tr>
        <% }; %>
        </tbody>
      </table>

    </div>

  </div>

<% } %>
  </main>

  <% include ../partials/footer %>

  <script type="text/javascript">
    <% include ../components/manage-patients.js %>
  </script>

</body>
</html>
