<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-medkit"></span> RSS Feed</h1>
  </div>
  <% include ../partials/header %>

  <main>
    <% if (typeof user != 'undefined' && user.Role_RoleID != 3) { %>
        <div class="alert alert-danger" role="alert">
          You are not allowed to see this page.
        </div>
        <div class="alert alert-info" role="alert">
           Take a look at some awesome videos at the
          <a class="alert-link" href="/video-list">video list</a> page.
        </div>
        <% if (user.Role_RoleID === 2) { %>
          <div class="alert alert-info" role="alert">
            Or you might be more intersted in your patients data, which you
            will find over at the
            <a class="alert-link" href="/manage-patients">manage patients</a> page.
          </div>
        <% } %>
    <% } else { %>
    <section>
      <h2>
        <%= articles[0].title %><br>
        <small><%= articles[0].description %></small>
      </h2>
      <p>src: <a href="<%= articles[0].link %>"><%= articles[0].link %></a></p>
      <hr>
      <ul class="list-unstyled">
      <% for(var i = 0; i < articles[0].item.length; i++) { %>
        <li>
          <h4><%= articles[0].item[i].title %></h4>
          <small>Published on: <%= articles[0].item[i].pubDate %></small>
          <p>
            <%= articles[0].item[i].description %>
          </p>
          <p>
            <a href="<%= articles[0].item[i].link %>">read more</a>
            <a class="pull-right" href="<%= articles[0].item[i].comments %>">view comments</a>
          </p>
          <hr>
        </li>
      <% }; %>

    </ul>
      </section>
    <% } %>
  </div>

  </main>

  <% include ../partials/footer %>

</body>
</html>
